.quote {
    height: 90vh;
    display: flex;
}

.quote .container {
    align-self: center;
    position: relative;
}

.quote .text {
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    position: relative;
}

.quote .text::before {
    content: "\201C";
    font-size: 1000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #d6cc47a0;
}

.quote .highlight {
    position: relative;
    font-weight: 800;
    overflow: hidden;
    background: linear-gradient(to right, #d6cc47, #d6cc47 50%, #153438 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms 200ms ease;
}
  
.quote .text:hover .highlight {
    background-position: 0 100%;
}

.quote cite {
    margin-top: 20px;
    float: right;
    font-size: 1.1em;
}

.quote cite span {
    float: right;
}

@media screen and (min-width: 991px) {
    .quote .text {
        font-size: 2.5em;
    }

    .quote cite {
        margin-top: 0;
        font-size: 1.4em;
    }
}